name: CI

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]
    
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
              
            - name: Set env
              run: echo "TF_VAR_codebot_image=serbanblebea/codebot:${{ github.sha }}" >> $GITHUB_ENV 

            - name: Print $GITHUB_ENV
              run: cat $GITHUB_ENV

            - name: Build and push Docker images - Codebot
              uses: docker/build-push-action@v1
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
                repository: serbanblebea/codebot
                tags: ${{ github.sha }}
                path: ./app
    
            - name: HashiCorp - Setup Terraform
              uses: hashicorp/setup-terraform@v1.1.0
              with:
                cli_config_credentials_token: ${{ secrets.TF_TOKEN }}
                terraform_version: 0.13.5
    
            - name: Terraform Init
              run: terraform init
              working-directory: ./deploy/terraform

            - name: Terraform Get
              run: terraform get
              working-directory: ./deploy/terraform

            - name: Terraform Plan
              working-directory: ./deploy/terraform
              run: terraform plan

            - name: Terraform Apply
              working-directory: ./deploy/terraform
              if: github.ref == 'refs/heads/master' && github.event_name == 'push'
              run: terraform apply -auto-approve

            - name: Terraform Taint
              working-directory: ./deploy/terraform
              if: github.ref == 'refs/heads/master' && github.event_name == 'push'
              run: terraform taint kubernetes_deployment.codebot_deployment